.project-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 275px;
    height: 250px;
    border: 1px solid black;
    cursor: pointer;
    user-select: none;
    opacity: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.fade-in {
    -moz-animation: fade-in 0.25s ease-in;
    -webkit-animation: fade-in 0.25s ease-in;
    -o-animation: fade-in 0.25s ease-in;
    animation: fade-in 0.25s ease-in;
    -webkit-animation-fill-mode: forwards;
    -o-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    from {
        top: 8px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}