.projects-bkg {
  font-family: "Ubuntu", sans-serif;
  background-color: #121212;
  color: #dfe6e9;
  padding: 0;
}

.projects-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  align-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;
  cursor: pointer;
  margin-bottom: 2em;
}

.projects-container.xl {
  width: 1280px;
  height: 800px;
}

.projects-container.lg {
  width: 896px;
  height: 544px;
}

.projects-container.md {
  width: 653px;
  height: 382px;
}

.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
}

.project-card.xl {
  width: 384px;
  height: 384px;
}

.project-card.lg {
  width: 256px;
  height: 256px;
}

.project-card.md {
  width: 175px;
  height: 175px;
}

.github-link {
  font-size: 1em;
  letter-spacing: 0.5px;
  text-decoration: underline;
  cursor: pointer;
}
