.about-bkg {
  font-family: "Noto Sans JP", serif;
  border-bottom: 1px solid #121212;
  background-color: #121212;
  color: #dfe6e9;
}

.navbar-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding-left: 10%;
  margin-bottom: 40%;
  box-sizing: border-box;
  z-index: 3;
}

.navbar-container.sm {
  justify-content: center;
  padding-left: 0;
  margin-bottom: 2em;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 1em;
  letter-spacing: 0.5px;
  width: 25%;
  box-sizing: border-box;
}

.navbar.sm {
  justify-content: space-evenly;
  width: 75%;
}

.navbar-selection {
  cursor: pointer;
}

.inner-section-container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  height: 100%;
}

.inner-section-container.sm {
  flex-direction: column;
  justify-content: center;
}

.text-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
}

.text-container.sm {
  width: 100%;
}

.img-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.img-container.sm {
  position: static;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.img {
  z-index: 2;
  width: 40%;
  height: auto;
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  padding: 16px;
  font-family: "Source Code Pro", monospace;
  font-size: 3em;
  letter-spacing: 0px;
  animation: moveIntro 2s ease;
  animation-fill-mode: forwards;
}

.intro-container.sm {
  font-size: 2.125em;
  letter-spacing: 0.25px;
}

.intro-container-anims {
  position: absolute;
  left: 0;
  height: 0%;
  width: 0%;
  opacity: 0;
  animation: introAnims 3s ease;
  animation-fill-mode: forwards;
  border: 2px solid white;
}

.name {
  font-weight: normal;
  text-decoration: underline;
}

.frontenddev {
  font-weight: normal;
  color: #2980b9;
}

.description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 60%;
  font-size: 1em;
  letter-spacing: 0.5px;
}

.description-container.sm {
  font-size: 0.875em;
  letter-spacing: 0.25px;
}

.not-display {
  display: none;
}

@keyframes moveIntro {
  0% {
  }
  100% {
    transform: translate(0px, 0px);
    padding: 0;
  }
}

@keyframes introAnims {
  0% {
  }
  10% {
    opacity: 1;
  }
  40% {
    opacity: 1;
    height: 100%;
    width: 0%;
  }
  100% {
    width: 100%;
    height: 100%;
    opacity: 1;
  }
}

